*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
  padding: 20px 0;
  background: #333;
  color: #fff;
  text-align: center;
}

.container{
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.no-data{
  max-width: 500px;
  margin: 20px auto 0 auto;
  background: #fff;
  padding: 20px;
  color: red;
  box-shadow: 2px 2px 5px #0005;
  text-align: center;
  border-radius: 4px;
}
.no-data h2{
  font-size: 2rem;
  border-bottom: 2px solid red;
  margin-bottom: 10px;
}

.no-data p{
  color: #0007;
}

.no-data .btn{
  display: block;
  max-width: 250px;
  margin: auto;
  margin-top: 15px;
}

.btn{
  text-decoration: none;
  background: darkgreen;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px 40px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.user-table{
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 2px 2px 5px #0007;
  border-radius: 4px;
  border-collapse: collapse;
}

.user-table thead tr{
  background: #333;
  color: #fff;
}

.user-table thead tr td{
  padding: 10px ;
  font-weight: bold;
}

.user-table tbody tr td{
  padding: 5px 10px;
}

.actions{
  text-align: right;
}

.user-table tbody tr:nth-of-type(odd){
  background: #ccc;
}

.user-table a, .user-table button{
  text-decoration: none;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn-edit{
  background-color: #FF8533;
  font-weight: bold;
}

.btn-delete{
  background-color:  red;
  font-weight: bold;
}